<!DOCTYPE html>
<html dir="rtl">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- StyleSheet -->
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" href="/static/font/font.css">
  {% block style %}
  {% endblock style %}

  <!--  -->
  <title>
    {% block title %}
    {% endblock title %}
  </title>
</head>

<body>
  <header>
    {% include 'include/header.html' %}
  </header>
  <main>
    {% block contant %}
    {% endblock contant %}
  </main>
  <footer></footer>

  <!-- Script -->
  <script src="/static/js/bootstrap.bundle.min.js"></script>
</body>

</html>