{% extends 'layout/base.html' %}

{% block contant %}

<div class="container-fluid py-5 bg-light">
  <div class="list-group">
  {% for profile in profiles %}
    <a href="../../resume/{{profile.id}}" class="list-group-item list-group-item-action">
      <h1>{{profile.first_name}} {{profile.last_name}}</h1>
      <h6>
        {% if profile.confirmed == True %}
        <span class="badge bg-success">تایید شده</span>
        {% else %}
        <span class="badge bg-danger">تایید نشده</span>
        {% endif %}
      </h6>
    </a>
    
    <!-- <div class="container py-5 border border-2 border-dark rounded-3 my-1">
      <h1>{{profile.first_name}} {{profile.last_name}}</h1>
      <h6>
        {% if profile.confirmed == True %}
        <span class="badge bg-success">تایید شده</span>
        {% else %}
        <span class="badge bg-danger">تایید نشده</span>
        {% endif %}
      </h6>
      <a href="../../resume/{{profile.id}}" class="btn btn-primary btn-md">مشاهده</a>
    </div> -->
    {% endfor %}
  </div>
</div>

{% endblock contant %}