{% extends 'layout/base.html' %}

{% block contant %}

<div class="container-fluid py-5 bg-light text-center my-5">
    <form action="{% url 'search_resume' %}" method="POST"
        class="container d-flex flex-column justify-content-center align-items-center my-5">{% csrf_token %}
        <input type="text" name="search" class="form-control m-2 p-2" placeholder="به دنبال چه کسی هستید؟">
        <input type="submit" value="پیدا کردن" class="btn btn-outline-primary btn-lg m-2">
    </form>
    <div class="container">
        <div class="list-group">
            {% for resume in resumes %}
            <a href="../../resume/{{resume.id}}" class="list-group-item list-group-item-action">
                <h1>{{resume.first_name}} {{resume.last_name}}</h1>
                <h6>
                    {% if resume.confirmed == True %}
                    <span class="badge bg-success">تایید شده</span>
                    {% else %}
                    <span class="badge bg-danger">تایید نشده</span>
                    {% endif %}
                </h6>
            </a>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock contant %}